<!DOCTYPE html>
<html lang="en">

<head>

</head>


<body>

<input id="word"></input>
<button id='submit'>Submit</button>
<ul id="list"></ul>

</body>
 <script src="/jquery.js"></script>
 <script src="/script.js"></script>
 

</html>